body { background-color: #2C3C45; color: #ebebeb; }

a {  color: #268bd2;   }

a:hover { color: #268bd2; }

button, input, optgroup, select, textarea {
    color: black;
}

/* globals */

.text-underline {
    border-bottom-color: #25c0af;   
}

/* navbar left */
.navbar-left{
    background-color: #212E35;
}

.navbar-left-li {
    color: #ebebeb;
}
.navbar-left-li:hover{
    background: rgba(44,60,69, 0.4);   
}

.navbar-left-li-active {
    color: #ebebeb;
    background:#2C3C45; 
}

/* heading */

.heading {
    background-color: #1d292f;
    color: #25c0af;
}

/* panels */

.panel-default {
    border-color: #212E35;
}
.panel-default>.panel-heading {
    background-color: #28363e;
    color: #ebebeb;
    border-color: #25c0af;
}

.panel-body {
    background-color: #32444e;
    color: #ebebeb;
}

/* tables */

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: rgba( 56, 180, 192, 0.1);  
    color: white;
}

.btn-default{
    background-color: #1A867A;
    border-color: #1A867A;
    color: #ebebeb;
}

.btn-default:hover{
    background-color: #21ab9c;
    border-color: #1A867A;
    color: #ebebeb;
}
