/* globals */

.container {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-underline {
    padding-bottom: 4px;
    border-bottom: 1px #333 solid;
    max-width: 80%;
}

.table-small{
    width: 100px;
}

.panel {
    background-color: #FCFCFC;
}

.required-asterisk {
    color: #a94442;
    font-size: 20px;
}

/* messages */

.message-panel { 
    background-color: #bce8f1;
    color: white;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 3px;
}

.message-info {
    background-color: #bce8f1;
}

/* heading */

.heading {
    background-color: #333;
    color: #ebebeb;
    border: none;
    padding: 10px;
}

/* left navbar */

.navbar-left{
    float: left;
    width: 200px;
    height: 100%;
    background: #ddd;
    position: fixed;
}

.navbar-left a:active { text-decoration: none; }
.navbar-left a:hover { text-decoration: none; }
.navbar-left a:visited { text-decoration: none; }

.wrapper {
    margin-left: 200px;
    padding-top: 10px;
}

.navbar-left ul {
    list-style-type: none;
    padding-left: 0;
    
}

.navbar-left-li {
    padding: 20px;
    width: 100%;
}

.navbar-left-li-active {
    padding: 20px;
    width: 100%;  
}

/* table */

.table-wrapper {
    padding: 10px;   
}